@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
    font-weight: 400;
}
html {
  scroll-behavior: smooth; 
}

#profile-photo {
  border-radius: 100px;
  border: 1px solid rgba(106, 106, 106, 0.934);
  box-shadow: 5px rgb(0, 0, 0);
}

body {
  font-family: 'montserrat';
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


* {
    box-sizing: border-box; /* вычитает бордер и паддинг из ширины и длинны блока*/
  }

  .container {       /*Задает ширину страницы 1440px*/
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {         /*Позволяет сделать список горизонтальным*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style:none;

  }
  .nav-link {
    position:relative;
    padding: 0 15px;
    line-height: 500px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:rgb(161, 0, 121);

  }

  .nav-link:hover {
transition:3s;
cursor: pointer;
text-decoration: underline;
  }